@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/login.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid login-main-content">
        <div class="row">
            <div class="col-md-4 login-company__info">
                <span class="company__logo"><h2><span class="fa fa-android"></span></h2></span>
                <h4 class="company_title">Your Company Logo</h4>
            </div>
            <div class="col-md-8 login_form">
                <div class="container-fluid">
                    <div class="row">
                        <h2>Log In</h2>
                    </div>
                    <div class="row">
                        <form control="" class="form-group">
                            <div class="row">
                                <input type="text" name="username" id="username" class="login-form__input" placeholder="Username">
                            </div>
                            <div class="row">
                                <input type="password" name="password" id="password" class="login-form__input" placeholder="Password">
                            </div>
                            <div class="row">
                                <input type="checkbox" name="remember_me" id="remember_me" class="">
                                <label for="remember_me">Remember Me!</label>
                            </div>
                            <div class="row">
                                <input type="submit" value="Submit" class="login-btn">
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <p>Don't have an account? <a href="#">Register Here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
